/* Home Banner Area css
============================================================================================ */

.home_banner_area {
    z-index: 1;
    background: url(../img/banner/home-banner.jpg) no-repeat center center;
    background-size: cover;
    .banner_inner {
        width: 100%;
        .home_left_img {
            padding-top: 110px;
        }
        .col-lg-6 {
            vertical-align: middle;
            align-self: center;
        }
        .banner_content {
            text-align: left;
            color: #fff;

            h2 {
                margin-top: 0px;
                font-size: 60px;
                font-weight: bold;
                line-height: 72px;
                margin-bottom: 20px;
            }
            p {
                color: #fff;
                font-size: 16px;
                margin-bottom: 20px;
            }
            .watch_video {
                margin: 0 30px;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}

.blog_banner {
    min-height: 780px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 0px;
    .banner_inner {
        background: #04091e;
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 780px;
        z-index: 1;
        .overlay {
            background: url(../assets/images/banner/banner-2.jpg) no-repeat scroll center center;
            opacity: .5;
            height: 125%;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            z-index: -1;
        }
        .blog_b_text {
            max-width: 700px;
            margin: auto;
            color: #fff;
            margin-top: 40px;
            h2 {
                font-size: 60px;
                font-weight: 500;
                font-family: $primary-font;
                line-height: 66px;
                margin-bottom: 15px;
            }
            p {
                font-size: 16px;
                margin-bottom: 35px;
            }
            .white_bg_btn {
                line-height: 42px;
                padding: 0px 45px;
            }
        }
    }
}

.banner_box {
    max-width: 1620px;
    margin: auto;
}

.banner_area {
    position: relative;
    min-height: 430px;
    z-index: 1;
    background: url(../img/banner/home-banner.jpg) no-repeat center center;
    background-size: cover;
    .banner_inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 430px;
        z-index: 1; //		.overlay{
        //			background: url(../assets/images/banner/banner.jpg) no-repeat scroll center center;
        //			position: absolute;
        //			left: 0;
        //			right: 0;
        //			top: 0;
        //			height: 125%;
        //			bottom: 0;
        //			z-index: -1;
        //			opacity: 1;
        //		}
        .banner_content {
            h2 {
                color: #fff;
                font-size: 36px;
                font-family: $title-font;
                margin-bottom: 0px;
                text-transform: uppercase;
                font-weight: bold;
                padding-top: 15px;
            }
            .page_link {
                margin-top: 50px;
                a {
                    font-size: 14px;
                    color: #fff;
                    font-family: $primary-font;
                    margin-right: 32px;
                    position: relative;
                    &:before {
                        content: "\e87a";
                        font-family: 'Linearicons-Free';
                        font-size: 14px;
                        position: absolute;
                        right: -25px;
                        top: 54%;
                        transform: translateY(-50%);
                    }
                    &:last-child {
                        margin-right: 0px;
                        &:before {
                            display: none;
                        }
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

/* End Home Banner Area css
============================================================================================ */

/* Start Pages Area css
============================================================================================ */

.about_page {
    .about_us_area {
        padding-bottom: 120px;
    }
    .frequently_area {
        padding: 120px 0;
    }
}

.upcoming_games {
    .frequently_area {
        padding: 120px 0;
    }
}

/* End Pages Area css
============================================================================================ */
