.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(30, 33, 41, 0.29);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

