<aside class="single_sidebar_widget popular_post_widget">
  <h3 class="widget_title">Популярные</h3>
  <div *ngFor="let image of images; trackBy: trackByFn" class="media post_item">
    <a [routerLink]="['/' + image.category?.slug, image.slug + '.html']" [title]="image.title + '.' + image.category?.name">
      <div class="image" *ngIf="image.mainFile">
        <img [src]="image.mainFile[1]"
             [alt]="image.title + '.' + image.category?.name">
      </div>
    </a>
    <div class="media-body">
      <a [routerLink]="['/' + image.category?.slug, image.slug + '.html']"><h3>{{image.title}}</h3></a>
      <p>{{image.category?.name}}</p>
    </div>
  </div>
  <div class="br"></div>
</aside>
<wt-spinner *ngIf="!loaded" [diameter]="30"></wt-spinner>
