@import "~@wt/scss/variables";

.form-field-file {
  .form-field-input {
    transition: all 200ms ease;
    min-height: 66px;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;

    &:hover {
      /*#212121*/
    }

    &.height-0 {
      height: 0;
      padding: 0;
      border: 0;
    }

    mat-label {
      color: #5f5b5b;
      font-size: 12px;
      padding: 0 5px;
      position: absolute;
      background-color: #fff;
      top: -10px;
      left: 10px;
    }
  }

  .form-field-file-image {
    position: relative;
    transition: all 200ms ease;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;

    &.height-100 {
      height: 100px;
    }

    img {
      object-fit: cover;
      width: 150px;
      height: 100px;
      border-radius: 4px;
      overflow: hidden;
      background: #fff;
    }

    .form-field-file-close {
      right: 0;
      top: 0;
      cursor: pointer;
      background: #fff;
      position: absolute;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 4px;
      color: $color_red;
    }
  }

  .position-absolute {
    position: absolute;
  }
}

