<section class="home_banner_area" [ngStyle]="{'background-image': image ? ' url(assets/' + image + ')' : '', 'color': '#ff0000'}">
  <div class="banner_inner" [ngClass]="{'dark-bg': image}">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 text-right">
          <div class="home_left_img mb-14">
            <img class="img-fluid"  src="assets/images/banner/logo.png" [alt]="title">
          </div>
        </div>
        <div class="col-lg-9" style="margin-top: 45px">
          <div class="banner_content">
            <div *ngIf="subTitle" class="sub-title">{{subTitle}}</div>
            <h1>
              {{title}}
            </h1>
            <p class="description" *ngIf="description">
              {{description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
