<ng-container *ngIf="categories$ | async; let categories;">
  <aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Категории</h4>
    <ul class="list cat-list">
      <ng-container *ngFor="let category of categories; trackBy: trackByFn">
        <li *ngIf="category.count">
          <a [routerLink]="['/' + category.slug + '/' ]" class="d-flex justify-content-between">
            <p>{{category.name}}</p>
            <p>{{category.count}}</p>
          </a>
        </li>
      </ng-container>
    </ul>
    <div class="br"></div>
  </aside>
</ng-container>
<wt-spinner *ngIf="!loaded" [diameter]="30"></wt-spinner>
