.list-other-block {
  background: #292828bf;

  .list-other-images {
    display: flex;
    border: 0;
    padding: 5px 3px;

    .lo-image {
      width: 100px;
      height: 50px;
      overflow: hidden;
      display: flex;
      padding: 0 2px;
      flex-basis: 100px;
      flex-shrink: 0;
      cursor: pointer;

      img {
        object-fit: cover;
      }
    }
  }
}
