<div *ngIf="list.length" class="list-other-block">
  <perfect-scrollbar style="height: 61px;width: 100%;">
    <div class="list-other-images">
      <div *ngFor="let item of list; let num = index;"
           class="lo-image"
           (click)="clickHandler(num)">
        <wt-image
          [version]="1"
          [versions]="item.versions"
          [haveZoom]="false"
          (click)="clickHandler(num)"></wt-image>
      </div>
    </div>
  </perfect-scrollbar>
</div>
