<mat-form-field class="example-chip-list">
  <mat-label class="title">{{title}}</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let item of selectedItems"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(item)">
      {{item.title}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      #itemInput
      [placeholder]=""
      [formControl]="itemsCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{item.title}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
