<div *ngFor="let item of groupedFields; trackBy: truckByFieldName">
  <h2 *ngIf="item.showGroup" class="form-field-group-title">
    {{item.groupName}}
  </h2>
  <div [ngClass]="{'field-tab': item.hasGroup, 'pt-20': item.showGroup}">
    <shared-form-field
      [fieldData]="item"
      [form]="form"
      [errorMessages]="errorMessages"
      [editorImageUploadUrl]="editorImageUploadUrl"
    ></shared-form-field>
  </div>
</div>
<shred-form-message-box
  [form]="form"
  [fields]="fields"
  [errorMessages]="errorMessages"></shred-form-message-box>
