<div *ngIf="loaded" class="navigation-area">
  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
      <ng-container *ngIf="prevImage">
        <div class="thumb">
          <a [routerLink]="['/' + prevImage.category?.slug, prevImage.slug + '.html']"
             [title]="prevImage.title + ' ' + prevImage.category?.name">
            <div class="image-img">
              <img *ngIf="prevImage.mainFile" [src]="prevImage.mainFile[1]" [alt]="prevImage.title">
            </div>
          </a>
        </div>
        <div class="arrow">
          <a [routerLink]="['/' + prevImage.category?.slug, prevImage.slug + '.html']"
             [title]="prevImage.title + ' ' + prevImage.category?.name"><span
            class="lnr text-white lnr-arrow-left"></span></a>
        </div>
        <div class="detials">
          <p>Пред. Пост</p>
          <a [routerLink]="['/' + prevImage.category?.slug, prevImage.slug + '.html']"
             [title]="prevImage.title + ' ' + prevImage.category?.name">
            <h4 class="image-title">{{prevImage.title}}</h4></a>
        </div>
      </ng-container>
    </div>
    <div
      class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
      <ng-container *ngIf="nextImage">
        <div class="detials">
          <p>След. Пост</p>
          <a [routerLink]="['/' + nextImage.category?.slug, nextImage.slug + '.html']"
             [title]="nextImage.title + ' ' + nextImage.category?.name"><h4 class="image-title">{{nextImage.title}}</h4></a>
        </div>
        <div class="arrow">
          <a [routerLink]="['/' + nextImage.category?.slug, nextImage.slug + '.html']"
             [title]="nextImage.title + ' ' + nextImage.category?.name"><span
            class="lnr text-white lnr-arrow-right"></span></a>
        </div>
        <div class="thumb">
          <a [routerLink]="['/' + nextImage.category?.slug, nextImage.slug + '.html']"
             [title]="nextImage.title + ' ' + nextImage.category?.name">
            <div *ngIf="nextImage.mainFile" class="image-img">
              <img [src]="nextImage.mainFile[1]" [alt]="nextImage.title + ' ' + nextImage.category?.name">
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<wt-spinner *ngIf="!loaded" [diameter]="30"></wt-spinner>
