<div class="image-block">
  <meta property="og:image" [content]="src" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:alt" [content]="title" />
  <img [src]="src" [title]="title"/>
  <div *ngIf="haveZoom" class="zoom" (click)="clickHandler();">
    <span class="lnr lnr-magnifier"></span>
  </div>
</div>
