<div [formGroup]="form">
  <mat-form-field appearance="outline"
                  class="width100">
    <mat-label>{{fieldData.title}}</mat-label>
    <mat-select [required]="fieldData.require"
                [multiple]="fieldData.multiple"
                [formControlName]="fieldData.field">
      <ng-container *ngIf="!fieldData.loading">
        <mat-option *ngFor="let item of options" [value]="item.id">
          {{item.name}}
        </mat-option>
      </ng-container>
      <ng-container *ngIf="fieldData.loading">
        <mat-option>Загрузка....</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>
