@import "~@wt/scss/variables";

.ps {
  .ps__rail-x,
  .ps__rail-x:hover,
  .ps__rail-x:focus,
  .ps__rail-x.ps--clicking {
    background-color: transparent !important;
  }
}

.ps:hover > .ps__rail-x {
  opacity: 1 !important;
}

.ps__rail-x:hover > .ps__thumb-x {
  height: 8px !important;
}

.ps__rail-x {

  .ps__thumb-x {
    background-color: $color_blue !important;
  }
}
