<aside *ngIf="hashtags" class="single-sidebar-widget tag_cloud_widget">
  <h4 class="widget_title">Теги</h4>
  <ul class="tag-list list">
    <li *ngFor="let tag of hashtags; trackBy: trackByFn"><a [routerLink]="['/tag/' + tag.slug + '.html']">{{tag.name}}</a></li>
  </ul>
</aside>
