<div
  *ngIf="isLoaded"
  id="forms"
  class="page-layout simple fullwidth"
  fxLayout="column">

  <!-- CONTENT -->
  <div class="content p-24">

    <div class="h1">
      {{image?.id ? 'Обновить картинку' : 'Создать картинку' }}
    </div>

    <p class="pt-16 pb-32">
      Какой-то вступительный тект о пользе правильно заполненых полей....
    </p>

    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <ng-container>
        <form class="mat-card mat-elevation-z4 p-24 mr-24"
              fxLayout="column"
              fxLayoutAlign="start"
              fxFlex="1 0 auto"
              name="form"
              novalidate
              [formGroup]="form"
            (ngSubmit)="formSubmit()">
          <div class="h2 mb-24">Добавить пост</div>
<!--          <wt-form-field-auto-form
            [formId]="formId"
            [state]="formState"
            [fields]="fields"
            [editorImageUploadUrl]="editorImageUploadUrl"
          ></wt-form-field-auto-form>-->
          <shared-form-field-auto-form
            class="mb-20"
            [formId]="formId"
            [fields]="fields"
            [form]="form"
            [editorImageUploadUrl]="editorImageUploadUrl"
          ></shared-form-field-auto-form>
          <div fxLayout="row" fxLayoutAlign="center center">
            <wt-button
              class="mr-8"
              buttonType="button"
              title="Отмена"
              buttonStyle="stroked-button"
              (click)="goBack()"
            >
            </wt-button>
            <wt-button
              mat-raised-button
              color="accent"
              buttonType="submit"
              [title]="image?.id ? 'Обновить' : 'Создать'"
              [loading]="(uiUnit$| async)?.updating">
            </wt-button>
          </div>
        </form>
      </ng-container>
      <!-- / REACTIVE FORM EXAMPLE -->
    </div>
    <wt-files-upload *ngIf="image && image.id" section="image"
                     [itemId]="image.id"></wt-files-upload>
  </div>
</div>
<wt-spinner *ngIf="!isLoaded"></wt-spinner>
