<mat-icon class="cursor-pointer" [matMenuTriggerFor]="menu">more_vert</mat-icon>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editAction()">
    <mat-icon>edit</mat-icon>
    <span>Ред.</span>
  </button>
  <button mat-menu-item (click)="deleteAction()">
    <mat-icon>delete</mat-icon>
    <span>Удалить</span>
  </button>
</mat-menu>
