<article class="row blog_item">
  <div class="col-md-12">
    <div class="blog_post">
      <div class="blog_image">
        <a [routerLink]="['/', image.category?.slug, image.slug + '.html']"
           [title]="image.title + ' ' + image.category?.name">
          <img *ngIf="mainImage" [src]="mainImage" [alt]="image.title + ' ' + image.category?.name">
        </a>
      </div>
      <div class="blog_details">
        <a [routerLink]="['/', image.category?.slug, image.slug + '.html']"
           [title]="image.title + ' ' + image.category?.name">
          <h2>{{image.title}}</h2></a>
        <div class="blog-meta">
          <ul class="blog-meta-list">
            <li *ngIf="image.views > 0"><span [title]="image.views + ' просмотров'">
              {{image.views|countFormatPipe}}<i class="lnr lnr-eye"></i></span>
            </li>

            <li><a [routerLink]="['/' + image?.category?.slug]"
                   class="list-category">{{image?.category?.name}}</a></li>

            <li class="list-tags">
<!--
              <a *ngFor="let tag of image.tags;let num = index;"
                 [routerLink]="['/tag', tag.slug + '.html']"
                 class="list-tag">{{tag.name}}{{ num !== (image.tags.length - 1) ? ',' : ''}}&nbsp;</a>
-->
            </li>
            <li class="blog-meta-date"><span>{{image.createdAt|dateFormatPipe}}<i
              class="lnr lnr-calendar-full"></i></span></li>
          </ul>
        </div>
        <div class="list-description">
          <p [innerHTML]="image.description"></p>
        </div>
        <a [routerLink]="['/', image.category?.slug, image.slug + '.html']"
           [title]="image.title + ' ' + image.category?.name"
           class="blog_btn">Читать далее</a>
      </div>
    </div>
  </div>
</article>
