@import "~@wt/scss/variables";

.blog_info .blog_meta a.list-category {
  color: $color_dark_blue;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.list-tags {
  margin-top: 10px;

  .list-tag {
    color: $color_a_light_grey !important;
    padding-bottom: 5px !important;

    &:hover {
      color: $color_blue !important;
    }
  }
}

.list-description {
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

.blog-meta {

  ul.blog-meta-list {
    display: flex;
    background: #eeeeee;
    padding-left: 0;

    li {
      list-style: none;
      padding: 0 10px;
      border-right: 1px solid #fff;

      &.blog-meta-date {
        text-align: right;
        border-left: 1px solid #fff;
      }

      &.list-tags {
        flex-grow: 1;
        margin-top: 0;
        border-right: 0;
      }

      span i {
        padding-left: 5px;
      }
    }
  }
}

.blog_image {
  text-align: center;
  max-height: 450px;
  overflow: hidden;
}
