@font-face {
  font-family: 'wt-icons';
  src:
    url('fonts/wt-icons.ttf?uiscqx') format('truetype'),
    url('fonts/wt-icons.woff?uiscqx') format('woff'),
    url('fonts/wt-icons.svg?uiscqx#wt-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pk-"], [class*=" pk-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wt-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pk-verification-email:before {
  content: "\e95e";
}
.pk-up-arrow:before {
  content: "\e953";
}
.pk-down-arrow:before {
  content: "\e954";
}
.pk-lt-arrow:before {
  content: "\e955";
}
.pk-rt-arrow:before {
  content: "\e956";
}
.pk-purchased-product-16:before {
  content: "\e95c";
}
.pk-tool-tip:before {
  content: "\e958";
}
.pk-download:before {
  content: "\e911";
}
.pk-d-model:before {
  content: "\e900";
}
.pk-active-course:before {
  content: "\e901";
}
.pk-add:before {
  content: "\e902";
}
.pk-bubble:before {
  content: "\e903";
}
.pk-c-download:before {
  content: "\e904";
}
.pk-c-lock:before {
  content: "\e905";
}
.pk-camera:before {
  content: "\e906";
}
.pk-cancel-cross:before {
  content: "\e907";
}
.pk-completed-tick:before {
  content: "\e908";
}
.pk-marked-checkbox:before {
  content: "\e91b";
}
.pk-empty-checkbox:before {
  content: "\e90a";
}
.pk-cart:before {
  content: "\e90b";
}
.pk-coupon:before {
  content: "\e90c";
}
.pk-cross:before {
  content: "\e90d";
}
.pk-crown:before {
  content: "\e90e";
}
.pk-dots:before {
  content: "\e90f";
}
.pk-dropdown:before {
  content: "\e912";
}
.pk-earth:before {
  content: "\e913";
}
.pk-ebook:before {
  content: "\e914";
}
.pk-eidt:before {
  content: "\e915";
}
.pk-feedback:before {
  content: "\e916";
}
.pk-help-icon:before {
  content: "\e917";
}
.pk-image-icon:before {
  content: "\e918";
}
.pk-location:before {
  content: "\e919";
}
.pk-lock:before {
  content: "\e91a";
}
.pk-moderator:before {
  content: "\e91c";
}
.pk-paper-clip:before {
  content: "\e91d";
}
.pk-pause:before {
  content: "\e91e";
}
.pk-pin:before {
  content: "\e91f";
}
.pk-play:before {
  content: "\e920";
}
.pk-refresh:before {
  content: "\e921";
}
.pk-reply-icon:before {
  content: "\e922";
}
.pk-reward:before {
  content: "\e923";
}
.pk-right-arrow:before {
  content: "\e924";
}
.pk-search:before {
  content: "\e925";
}
.pk-settings:before {
  content: "\e926";
}
.pk-Share:before {
  content: "\e927";
}
.pk-tick:before {
  content: "\e928";
}
.pk-tracking:before {
  content: "\e929";
}
.pk-trash-bin:before {
  content: "\e92a";
}
.pk-down:before {
  content: "\e910";
}
.pk-up:before {
  content: "\e92b";
}
.pk-user:before {
  content: "\e92c";
}
.pk-views-counter:before {
  content: "\e92d";
}
.pk-hide:before {
  content: "\e957";
}
.pk-purchased-product-24:before {
  content: "\e95d";
}
.pk-big-left-arrow:before {
  content: "\e930";
}
.pk-big-right-arrow:before {
  content: "\e931";
}
.pk-protection-solid:before {
  content: "\e95a";
}
.pk-item-locked:before {
  content: "\e909";
}
.pk-item-download:before {
  content: "\e952";
}
.pk-big-cart:before {
  content: "\e92e";
}
.pk-big-crown:before {
  content: "\e92f";
}
.pk-Cart-Icon:before {
  content: "\e932";
}
.pk-duration:before {
  content: "\e933";
}
.pk-facebook-2:before {
  content: "\e934";
}
.pk-facebook:before {
  content: "\e935";
}
.pk-instagram:before {
  content: "\e936";
}
.pk-lessons:before {
  content: "\e937";
}
.pk-notifications:before {
  content: "\e938";
}
.pk-pinterest:before {
  content: "\e939";
}
.pk-replay:before {
  content: "\e93a";
}
.pk-send:before {
  content: "\e93b";
}
.pk-skill-level:before {
  content: "\e93c";
}
.pk-star:before {
  content: "\e93d";
}
.pk-thumblr:before {
  content: "\e93e";
}
.pk-twitter:before {
  content: "\e93f";
}
.pk-views:before {
  content: "\e940";
}
.pk-youtube:before {
  content: "\e941";
}
.pk-zoom:before {
  content: "\e942";
}
.pk-d-models:before {
  content: "\e943";
}
.pk-assignments:before {
  content: "\e944";
}
.pk-critique-videos:before {
  content: "\e945";
}
.pk-downloads:before {
  content: "\e946";
}
.pk-ebooks:before {
  content: "\e947";
}
.pk-extended:before {
  content: "\e948";
}
.pk-high-res:before {
  content: "\e949";
}
.pk-Money-Back-2:before {
  content: "\e94a";
}
.pk-moneyback:before {
  content: "\e94b";
}
.pk-Protection:before {
  content: "\e94c";
}
.pk-Security:before {
  content: "\e94d";
}
.pk-support:before {
  content: "\e94e";
}
.pk-transfer:before {
  content: "\e94f";
}
.pk-visibility:before {
  content: "\e950";
}
.pk-modal-error:before {
  content: "\e95b";
}
.pk-complete-tick:before {
  content: "\e951";
}
.pk-verification-done:before {
  content: "\e959";
}
