table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.list-images {
  display: flex;

  img {
    max-height: 60px;
  }
}

.coll-id {
  width: 100px;
}

.find-field {
  display: flex;
  justify-content: space-between;
}
