<button
  [attr.mat-raised-button]="buttonStyle === 'raised-button' ? '' : null"
  [attr.mat-stroked-button]="buttonStyle === 'stroked-button' ? '' : null"
  [ngClass]="{
  'mat-raised-button': buttonStyle === 'raised-button',
  'mat-stroked-button': buttonStyle === 'stroked-button',
  'mat-primary': color === 'primary',
  'mat-accent': color === 'accent'
  }"
  color="accent"
  [disabled]="loading || disabled"
  [type]="buttonType"
  [@buttonState]="state"
>
  <div class="dev-button-spinner" *ngIf="loading">
    <wt-spinner
      [diameter]="30"
      class="progress-spinner"
    ></wt-spinner>
  </div>
  <ng-container *ngIf="!loading">
    {{title}}
  </ng-container>
</button>

