<div [formGroup]="form">
  <mat-form-field appearance="outline"
                  class="width100">
    <mat-label>{{fieldData.title}}{{fieldData.require ? ' *' : ''}}</mat-label>
    <div class="display-flex align-baseline ">
      <ng-container *ngIf="inputMask">
        <input matInput
               #input
               [type]="inputType"
               [placeholder]="placeholder"
               [mask]="inputMask">
      </ng-container>
      <ng-container *ngIf="!inputMask">
        <input matInput
               #input
               [type]="inputType"
               [placeholder]="placeholder">
      </ng-container>
      <div class="form-field-suffix"
           [ngClass]="{'input-field-icon-red': !form.get(fieldData.field).valid}"
           *ngIf="fieldData.asyncValidators && fieldData.asyncValidators.length">
        <mat-icon *ngIf="form.get(fieldData.field).status !== pendingStatus"
                  class="secondary-text mat-icon notranslate material-icons mat-icon-no-color"
                  role="img" aria-hidden="true">
          {{form.get(fieldData.field).valid ? 'assignment_turned_in' : 'assignment_late'}}
        </mat-icon>
        <wt-spinner *ngIf="form.get(fieldData.field).status === pendingStatus"
                        [diameter]="24"></wt-spinner>
      </div>
    </div>
  </mat-form-field>
</div>
