<div class="bread-crumbs" *ngIf="list">
  <ng-container *ngFor="let item of list">
    <ng-container *ngIf="item.url">
      <a [routerLink]="item.url">{{item.title}}</a><span class="separate">/</span>
    </ng-container>
    <ng-container *ngIf="!item.url">
      <span>{{item.title}}</span>
    </ng-container>
  </ng-container>
</div>
