@import "~@wt/scss/variables";

.post_tag {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-bottom: 0;

  a {
    color: $color_a_grey;
  }
}

.blog_info {
  margin-top: 10px;
}

.blog_details {
  table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }

  table td, table th,
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
}

.image-description {
  margin-top: 20px;
}

.blog_meta {
  display: flex;
  background: #efefefa8;

  li {
    border-right: 1px solid #FFFFFF;
    padding: 0 10px;

    span {
      font-size: 12px;
    }
  }
}
