<ng-container *ngIf="images$ | async; let images;">
  <div infiniteScroll
       [infiniteScrollDistance]="1"
       [infiniteScrollUpDistance]="2"
       [infiniteScrollThrottle]="500"
       (scrolled)="onScrollDown()">
  <wt-image-item *ngFor="let image of images" [image]="image" [category]="image.category"></wt-image-item>
  </div>
</ng-container>
<ng-container *ngIf="(loaded$|async);let loaded;">
  <wt-other-images></wt-other-images>
  <wt-spinner *ngIf="!loaded" [color]="'grey'" [diameter]="30"></wt-spinner>
</ng-container>
