@import "./libs/scss/variables";

.form-field {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.show-label {
  font-size: 12px;
  opacity: 0.5;
}

.form-field-value {
  font-size: 16px;
}

.mb-21 {
  margin-bottom: 21px;
}

.textarea-field-width {
  width: 100%;
  max-width: 1000px;
}
