<div class="text-center mb-14 top-button">
    <button mat-stroked-button color="accent" (click)="uploadFilesToggle()">
        <mat-icon class="fs-18">add_a_photo</mat-icon>
        Загрузить картинки
    </button>
     <button [disabled]="mode === fileListModeSort" class="ml-5" mat-stroked-button color="primary" (click)="sortFilesOrSave()">
        <mat-icon class="fs-18">sort</mat-icon>
        Сортировать картинки
    </button>
</div>

<div class="text-center mb-14 sub-button"
     [@showButton]="showButtonState">
  <button mat-stroked-button color="primary" (click)="cancelSort()">
    <mat-icon class="fs-18">cancel</mat-icon>
    Отмена
  </button>
  <button
    class="ml-5"
    mat-stroked-button
    color="accent"
    [disabled]="!fileOrders"
    (click)="saveSort()">
    <mat-icon class="fs-18">save</mat-icon>
    Сохранить сортировку
  </button>
</div>
<div [@uploadFiles]="uploadFilesState"
     (@uploadFiles.done)="onToggleImageBlockDone($event)"
     class="page-layout simple fullwidth fileUploads"
     fxLayout="column">
    <!-- CONTENT -->
    <div class="mat-card mat-elevation-z4 p-24">
        <div class="row">
            <div class="col-md-3">
                <div class="h2 mb-24">Выберите файлы</div>
                <div ng2FileDrop
                     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (fileOver)="fileOverBase($event)"
                     [uploader]="uploader"
                     class="well my-drop-zone">
                    Перенесите файлы
                </div>
                <div class="p-5">
                    Выберите файлы: <input type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
                </div>
            </div>

            <div *ngIf="uploader && uploader.queue.length" class="col-md-9">
                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader?.queue?.length }}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
                        <td>
                            <div class="progress">
                                <mat-progress-bar
                                        *ngIf="item.progress"
                                        class="example-margin"
                                        color="warn"
                                        mode="determinate"
                                        [value]="item.progress">
                                </mat-progress-bar>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess">Success</span>
                            <span *ngIf="item.isCancel">Cancel</span>
                            <span *ngIf="item.isError">Error</span>
                        </td>
                        <td nowrap>
                            <button mat-flat-button color="accent"
                                    class="mr-5"
                                    (click)="item.upload()"
                                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <mat-icon class="fs-18">get_app</mat-icon>
                            </button>
                            <button mat-flat-button color="primary"
                                    class="mr-5"
                                    (click)="item.cancel()"
                                    [disabled]="!item.isUploading">
                                <mat-icon class="fs-18">clear</mat-icon>
                            </button>
                            <button mat-flat-button color="warn"
                                    class="mr-5"
                                    (click)="item.remove()">
                                <mat-icon class="fs-18">delete_outline</mat-icon>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <div class="progress-block" *ngIf="uploader.progress">
                        Queue progress:
                        <div class="progress">
                            <mat-progress-bar
                                    class="example-margin"
                                    color="warn"
                                    mode="determinate"
                                    [value]="uploader.progress">
                            </mat-progress-bar>
                        </div>
                    </div>
                    <div class="text-right">
                        <button mat-flat-button color="accent"
                                class="mr-5"
                                (click)="uploader.uploadAll()"
                                [disabled]="!uploader.getNotUploadedItems().length">
                            <mat-icon class="fs-18">get_app</mat-icon>
                            Загрузить все
                        </button>
                        <button mat-flat-button color="primary"
                                class="mr-5"
                                (click)="uploader.cancelAll()"
                                [disabled]="!uploader.isUploading">
                            <mat-icon class="fs-18">clear</mat-icon>
                            Отменить все
                        </button>
                        <button mat-flat-button color="warn"
                                class="mr-5"
                                (click)="uploader.clearQueue()"
                                [disabled]="!uploader.queue.length">
                            <mat-icon class="fs-18">delete_outline</mat-icon>
                            Удалить все
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<wt-files-upload-list-images
  [section]="section"
  [itemId]="itemId"
  [mode]="mode"
  (changeSort)="changeSort($event)"
></wt-files-upload-list-images>
